<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <!--Use router 'standard' for frontend route-->
    <!--Use router 'admin' for admin route, AND PUT THIS file to etc/adminhtml -->
    <router id="standard">
        <!--Define a custom route with id and frontName-->
        <route id="boyko_personroute" frontName="home-work">
            <!--The module which this route match to-->
            <module name="Boyko_PersonRoute" />
        </route>
    </router>
</config>