@import 'variables/_typography_extend.less';
@import 'variables/_buttons_extend.less';

& when (@media-common = true) {
  @font-face {
    font-family: 'Gotham';
    src: url('@{baseDir}fonts/gotham-regular/gotham-regular.woff2')
        format('woff2'),
      url('@{baseDir}fonts/gotham-regular/gotham-regular.otf') format('otf');
    font-weight: 300;
    font-style: normal;
  }
}
