<div class="component-wrapper">
    <div data-bind="text: 'Catalog Timer'"></div>
    <div data-bind="text: timer"></div>
    <div class="field">
        <label for="timer-step">Step</label>
        <div class="control">
            <input class="input-text qty" data-bind="value: step" id="timer-step" type="number">
        </div>
    </div>
    <div class="field">
        <label for="timer-timeout">Timout</label>
        <div class="control">
            <input class="input-text qty" data-bind="value: timeout" id="timer-timeout" type="number">
        </div>
    </div>
</div>